<!--
    <div class="container">
<div class="exam-dashboard">
<nav #nav>
<span class="navbtn"><button #btn1 (click)="toggleNav()" >close</button></span>    
<ul>
<li><a routerLink='/exam/create'>Create Exam</a></li>
</ul>



<div class="exmas-links" *ngFor="let item of exams; let i=index">
<button (click)='display(i)'>{{item.title}}</button>

<ul [ngStyle]="{'display':i===current?'block':'none'}" >
    <li><a [routerLink]="['/exam/info',item._id]">{{item.title}}</a></li> 
    <li><a [routerLink]="['/exam/form',item._id]">implement</a></li>
    <li><a [routerLink]="['/exam/study',item._id]">Study</a></li>
    <li><a [routerLink]="['/exam/start',item._id]">Start</a></li>
</ul>

</div>


</nav>



<section class="main-dash">

</section>




</div>
</div>
-->

<div class="container">


<div class="row">
<div class="col-12">
<h1>Exams Studio</h1>
</div>    

</div>


<div class="row">
    <div class="col-12" style="padding:20px; text-align: end; ">
    <a routerLink='/app/exam/create' style="display: inline-block; padding:5px; " class="btn btn-primary" >Create</a>
    </div>    
    
</div>

<h4>My Exams</h4>

    <div class="row" >
        <div class="col-12 d-flex" style="flex-wrap: wrap;">
        <app-exam-card *ngFor="let item of myExams" [item]='item'></app-exam-card>
        </div>
        </div>



<div class="row" style="margin:30px 0px; ">
    <div class="col-12">
        <hr>
    </div>
</div>
<h4>General Exams</h4>
<div class="row" >
<div class="col-12 d-flex" style="flex-wrap: wrap;">
<app-exam-card *ngFor="let item of generalExams" [item]='item'></app-exam-card>
</div>
</div>





</div>