<div class="container">


<div class="myProfile" *ngIf="loading===false" >
<div class="bigImg">
    <!--
<img width="100%" #imgBack  src="../../../../assets/img/doctype-hi-res.jpg" height="100%">    
-->
</div>
<div class="myImg">
    <img width="100%" src="../../../../assets/img/Person.png" height="100%" >
</div>
<div class="smallCard">
    <h1>{{userInfo.name}}</h1>
    <button (click)="GetFollowers()"class="followers" >{{followers}}  followers </button>
    <button (click)="GetFollowing()"class="followers" >{{following}}  following </button>
</div>
<div>
<div style="background-color: wheat;padding:20px;">
    <div class="col-12">
        <h1>My Exams</h1>
    </div>
</div>   


 <div style=" display: flex;  background-color: white; overflow-x: auto;" *ngIf="examsFound===true">
<div class='exam-card'  *ngFor="let item of exams"  >
    <a class="btn" [routerLink]="['/app/exam/info/',item._id]"  >{{item.title}}</a>
</div>


</div>   
<div class="row" *ngIf="examsFound===false">
    <div class="col-12" style="text-align: center;">
        <p>No exams be found </p>
    </div>
</div>
</div>


</div>


<div class="otherProfile" *ngIf="loadingTwo===false&&otherPerson===true">
    <div class="bigImg">
        <!--
        <img width="100%" #imgBack  src="../../../../assets/img/doctype-hi-res.jpg" height="100%">    
        -->
    </div>
        <div class="myImg">
            <img width="100%" src="../../../../assets/img/Person.png" height="100%" >
        </div>
        <div class="smallCard">
            <h1>{{userInfo.name}}</h1>
            <button (click)="GetFollowers()"class="followers" >{{followers}}  followers </button>
        <span class="followers">{{flagFollowing===true?"Follows you":""}}</span>
</div>
<section class="follow">
    <button #btn (click)="IWantFollow()">{{UserIsFollowing()?"Unfollow":"Follow"}}</button>
</section>


</div>


</div>


<section class="module" *ngIf="module===true" >
    <h2>{{moduleAction}}</h2>
    <div class="module-info" *ngFor="let item of followInfo">
        <h4>{{item.name}}</h4>
        <a [routerLink]="['/myaccount',item._id]">Profile</a>
    </div>
    <button class="btn" (click)="closeModule()">Close</button>
</section>